@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Edu+NSW+ACT+Foundation:wght@700&family=Nunito&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chatgpt and Home card Input/Output styling */
.card-image {
  max-height: 150%;
}

.chat-form {
  margin-top: 15px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 20px 20px 15px 20px;
  opacity: .85;
  border-radius: 20px;
  margin-top: 20px

}

.img-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-label {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: large;
  margin-right: 10px;
}

.chat-input {
  border-radius: 20px;
  padding: 8px;
}

.output {
  margin-top: 10px;
}

.savable-buttons {
  margin: 2px;
  border-radius: 10px;
  padding: 10px;
  background: gray;
  border: none;
  color: white;
}
.savable-buttons:hover {
  padding: 8px;
}
/* End styling for chatgpt and Home card */

/* Styling for TopDestinations.js */
.hoverable-image {
  transition: transform 0.2s; /* Animation */
  position: relative; /* For z-index to work, the position property needs to be set to anything except static. */
  z-index: 1; 
}
.hoverable-image:hover {
  transform: scale(1.08); /* (110% normal size) */
  z-index: 2;

}
.image-container {
  position: relative;
}

.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white; /* or any color that will be visible on your images */
  padding: 10px; /* adjust as needed */
  background-color: rgba(0, 0, 0, 0.2); /* adds a semi-transparent black background. adjust as needed */
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}

/* End of styling for TopDestinations.js */
